.Colored-Progress-Bar {
  &--warning {
    .Polaris-ProgressBar__Indicator {
      background-color: #F1E05A;
    }
  }

  &--alert {
    .Polaris-ProgressBar__Indicator {
      background-color: #E34C26;
    }
  }

  &--success {
    .Polaris-ProgressBar__Indicator {
      background-color: #47c1bf;
    }
  }
}