.Article-Position-Control {
  & > * {
    display: block;
  }

  .Polaris-TextField__Spinner {
    display: none;
  }

  .Polaris-TextField__Backdrop,
  button,
  input {
    border-radius: 0;
  }

  .Polaris-TextField__Backdrop,
  .Polaris-TextField__Input {
    border-bottom: none;
    border-top: none;
    padding: 2px;
    text-align: center;
  }
}