.News-Item-Page {
  .Polaris-Page {
    max-width: 1600px;
    margin: 0 auto;
  }

  .Polaris-SkeletonBodyText__SkeletonBodyTextContainer--flexGrow {
    flex-grow: 1;
  }

  .Components-Field--value-right {
    .Polaris-Stack__Item:first-child {
      flex-grow: 1;
    }
  }

  .Components-Field--value-left {
    .Polaris-Stack__Item:last-child {
      flex-grow: 1;
    }
  }
}