@import '~@shopify/polaris/dist/styles.css';
@import "~react-toastify/dist/ReactToastify.css";

.FullStory_Sessions-Item {
  height: 4rem;

  > div:first-child {
    height: 4rem;
  }

  &:hover {
    .PlayButton__Svg--blue {
      fill: #fff;
    }

    .PlayButton__Svg--white {
      fill: #1b92d9;
    }
  }

  .Polaris-TextStyle--variationStrong {
    color: rgb(27, 146, 217);
    padding-bottom: .5rem;
    margin-left: 1rem;
  }

  display: flex;
  align-items: center;

  .PlayButton__Svg {
    width: 4rem;
    height: 4rem;

    &:hover {
      .PlayButton__Svg--blue {
        fill: #fff;
      }

      .PlayButton__Svg--white {
        fill: #1b92d9;
      }
    }
  }
}

$breakpoints: (
        'mobile': 475px,
        'premobile': 560px,
        'tablet': 768px,
        'custom': 1010px,
        'laptop': 1024px,
        'laptopL': 1440px,
);
.campaigns-filters {
  .Polaris-Filters-ConnectedFilterControl__CenterContainer {
    display: none;
  }
}

@mixin breakpoint($point) {
  @media (max-width: map-get($breakpoints, $point)) {
    @content;
  }
}

.area-settings-nav {
  display: grid;
  grid-column-gap: 1.6rem;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, auto);
  column-count: 3;
  padding-left: 0;
  margin: 0;

  @include breakpoint(tablet) {
    grid-template-rows: repeat(5, auto);
    column-count: 2;
  }
  @include breakpoint(mobile) {
    grid-template-rows: repeat(10, auto);
    column-count: 1;
  }

  .area-settings-nav__item {
    display: flex;
    break-inside: avoid;
    padding: 1.2rem;
    cursor: pointer;
    min-height: 10rem;

    &:hover {
      background-color: #f9fafb;
      text-decoration: none;
      outline: none;

      .area-settings-nav__title {
        color: #084e8a;
      }

      .area-settings-nav__media {
        background-color: #dfe3e8;
      }
    }

    .area-settings-nav__media {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 4rem;
      height: 4rem;
      margin-right: 1.6rem;
      border-radius: 3px;
      background-color: #f4f6f8;

      svg {
        width: 20px;
        fill: #919eab;
      }
    }

    .area-settings-nav__title {
      font-weight: 600;
      margin: 0;
      color: #007ace
    }

    .area-settings-nav__description {
      font-size: 1.4rem;
      color: #637381;
    }


  }
}

.Polaris-Navigation {
  &__PrimaryNavigation {
    display: flex;
    justify-content: space-between;
  }
}

.PayoutsPage {
  .Polaris-Filters-ConnectedFilterControl .Polaris-Filters-ConnectedFilterControl__CenterContainer {
    display: none;
  }
}




