.News-Preview {
  max-height: 1000px;
  overflow: auto;
  padding: 3px 60px 3px 3px;

  &__Card {
    margin-bottom: 20px;
    position: relative;

    &:not(&--active):after {
      content: "";
      display: block;
      background: rgba(255, 255, 255, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &--active {
      .Polaris-Card {
        box-shadow: 0 0 0 3px #5c6ac4;
      }
    }
  }

  .Article-Position-Control {
    position: absolute;
    left: calc(100% + 5px);
    top: calc(50% - 43px);
  }
}