.Image-Picker {
  position: relative;
  display: inline-block;

  input[type="file"] {
    display: none;
  }

  .Polaris-Thumbnail {
    cursor: pointer;

    &:after {
      transition: box-shadow 0.3s, background 0.3s;
    }

    &:hover {
      &:after {
        box-shadow: inset 0 0 0 2px #5c6ac4;
        border-radius: 3px;
        background: rgba(92, 106, 196, 0.1);
      }
    }
  }

  &--empty {
    .Polaris-Thumbnail__Image {
      padding: 8px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .Polaris-Icon-Wrapper {
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 21;
    display: inline-block;
    background: linear-gradient(to bottom, #e6391a, #d53417);
    border-color: #b02b13;
    box-shadow: inset 0 1px 0 0 #e73d1f, 0 1px 0 0 rgba(22, 29, 37, 0.05), 0 0 0 0 transparent;
    color: white;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to bottom, #de3618, #c73016);
      border-color: #b02b13;
    }

    .Polaris-Icon {
      padding: 4px;
    }
  }
}