.Components-Fields {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex: 1 100%;
  margin: 0 -10px;

  .Polaris-SkeletonThumbnail,
  .Polaris-SkeletonBodyText__SkeletonBodyTextContainer {
    animation: none;
  }
}

.Components-Field {
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #dfe3e8;
  transition: box-shadow 0.3s;
  padding: 10px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;

  &__Wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    padding: 0 10px;
  }

  &--Selected {
    box-shadow: inset 0 0 0 3px #5c6ac4;
  }
}
