.article-video-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;

  .article-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.article-video-collapsible {
  position: relative;
}

.article-video-activator {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: none;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  outline: 0;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    background-image: url(/assets/icons/play-button.svg);
    opacity: .8;
    transition: opacity .2s ease-in;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.article-video-close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  margin: 1.6rem;
}

.article {
  &.article-layout-top {
    .article-actions-holder {
      margin-top: 2rem;
    }

    .article-content-holder {
      padding-top: 2rem;
    }

    .article-media-holder {
      text-align: center;

      .article-image {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 1rem;
      }
    }
  }

  &.article-layout-bottom {
    .article-actions-holder {
      margin-top: 2rem;
    }

    .article-media-holder {
      text-align: center;

      .article-image {
        display: inline-block;
        max-width: 100%;
        margin-top: 1rem;
      }
    }
  }

  &.article-layout-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: stretch;


    .article-actions-holder {
      margin-top: 2rem;
    }

    .article-media-holder {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
      flex: 1 1 30%;
      padding: 0;
      border-right: 1px solid #dfe3e8;
      background-color: #f9fafb;
      justify-content: center;
      align-items: center;
      display: flex;

      .article-image {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
        border: none;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: none;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        outline: 0;
      }

      .article-video-wrapper {
        padding-bottom: 0;
        height: 100%;
      }

    }

    .article-container {
      flex: 1 1 70%;
      padding: 2rem;
      min-height: 10rem;
    }
  }

  &.article-layout-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: stretch;


    .article-actions-holder {
      margin-top: 2rem;
    }

    .article-media-holder {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
      flex: 1 1 30%;
      padding: 0;
      border-left: 1px solid #dfe3e8;
      background-color: #f9fafb;
      justify-content: center;
      align-items: center;
      display: flex;

      .article-image {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
        border: none;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: none;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        outline: 0;
      }

      .article-video-wrapper {
        padding-bottom: 56.25%;
      }
    }

    .article-container {
      flex: 1 1 70%;
      padding: 2rem;
      min-height: 10rem;
    }
  }
}